{% extends "website/__base_content.html" %}

{% block title %}Group{% endblock %}

{% block content %}
    <h1>Group: {{ group.name }}</h1>
    <h2>Type: {{ group.type }}</h2>
    <div>
        <ul>
            {% for user in group.users.all %}
            <li>
                {{ user }}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if not request.user in group.users.all %}
        {% if group_is_public %}
            <div>
                <form action="{% url 'group_join' group.id %}">
                    <input type="submit" value="Join Group"/>
                </form>
            </div>
        {% endif %}
    {% else %}
        <div>
            <form action="{% url 'group_leave' group.id %}">
                <input type="submit" value="Leave Group"/>
            </form>
        </div>
    {% endif %}
{% endblock %}