{% extends "website/__base_content.html" %}

{% block content %}
    <div class="row">
        <table class="table">
            <thead>
                <th>My Groups</th>
            </thead>
        {% for group in groups %}
            <tr>
                <td>
                    <a href="{% url 'group_detail' group.id %}">{{ group.name }}</a>
                </td>
                <td>
                    {% if group.admin == request.user %}
                        <a href="{% url 'group_delete' group.id %}">Delete Group</a>
                    {% else %}
                        <a href="{% url 'group_leave' group.id %}">Leave Group</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}