{% extends "website/__base.html" %}

{% block title %}Group{% endblock %}

{% block content %}
    <h1>Group: {{ group.name }}</h1>
    <div>
        <ul>
            {% for user in group.users.all %}
            <li>
                {{ user }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <br><br>
    {% if not request.user  in group.users.all %}
        <div>Click to be added to this group.
            <form action="{% url 'group_adduser' group.id %}">'
            <input type="submit" value="Add"/></div>
            </form>
        <br><br>
    {% endif %}
    <div>Click to be removed from the group.
    <form action="{% url 'group_removal' group.id %}">
        <input type="submit" value="Remove"/></div>
    </form>
{% endblock %}