{% extends "website/__base.html" %}

{% block content %}

{% load leaflet_tags %}

    <script type="text/javascript">
        function map_init_basic (map, options) {
            var latlons = [];
            {% for notification_zone in notification_zones %}
                var lat = {{ notification_zone.latitude }};
                var lon = {{ notification_zone.longitude }};
                var radius = {{ notification_zone.radius }} * 1609.34;  //must be in meters
                var latlon = L.latLng(lat, lon);
                L.marker([lat, lon]).addTo(map);

                var circle = L.circle([lat, lon], radius, {
                    color: 'blue',
                    fillColor: '#03f',
                    fillOpacity: 0.2
                }).addTo(map);
                latlons.push(latlon);
            {% endfor %}

            var bounds =  new L.LatLngBounds(latlons);
            map.fitBounds(bounds);

            var zoom = map.getBoundsZoom(new L.LatLngBounds(latlons));
            map.setZoom(zoom);
        }


    </script>

    <head>
        {% leaflet_js %}
        {% leaflet_css %}
    </head>

    <div class="row">
        <div class="btn-group" role="group" aria-label="...">
          <a href="{% url 'notification_zone_new' %}" class="btn btn-default">New Notification Zone</a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <th>Name</th>
            </thead>
        {% for notification_zone in notification_zones %}
            <tr>
                <td>
                    <a href="{% url 'notification_zone_detail' notification_zone.id %}">{{ notification_zone.name }}</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <div>
        {% leaflet_map "notification_map" callback="window.map_init_basic"  %}
    </div>
{% endblock %}