{% extends "website/__base.html" %}

{% block title %}Notification Zone{% endblock %}

{% block content %}

{% load leaflet_tags %}

    <script type="text/javascript">
        function map_init_basic (map, options) {
            var lat = {{ notification_zone.latitude }};
            var lon = {{ notification_zone.longitude }};
            var radius = {{ notification_zone.radius }} * 1609.34;  //must be in meters
            var latlon = L.latLng(lat, lon);

            var iconW = 38;
            var iconH = 50;

            var markerIcon = L.icon({
                iconUrl: '../../static/website/img/knowhere-logo.png',
                iconSize:     [iconW, iconH], // size of the icon
                iconAnchor:   [iconW/2, iconH], // point of the icon which will correspond to marker's location
                popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
            });

            L.marker([lat, lon], {icon: markerIcon}).addTo(map);
            map.panTo(latlon);

            var circle = L.circle([lat, lon], radius, {
                color: '#6D4C41',
                fillColor: '#90CAF9',
                fillOpacity: 0.2
            }).addTo(map);

            map.fitBounds(circle.getBounds());
        }


    </script>

    <head>
        {% leaflet_js %}
        {% leaflet_css %}
    </head>

    <h1>Notification Zone: {{ notification_zone.name }}</h1>
    <div>
            <div><span><strong>Groups: </strong></span><span>{% for group in notification_zone.groups.all %} {{ group }} {% endfor %}</span></div>
            <div><span><strong>Latitude: </strong></span><span>{{ notification_zone.latitude }}</span></div>
            <div><span><strong>Longitude: </strong></span><span>{{ notification_zone.longitude }}</span></div>
            <div><span><strong>Radius: </strong></span><span>{{ notification_zone.radius }}</span></div>
            <div><span><strong>Address: </strong></span><span>{{ notification_zone.address }}</span></div>
            <div><span><strong>City:</strong> </span><span>{{ notification_zone.city }}</span></div>
            <div><span><strong>State: </strong></span><span>{{ notification_zone.state }}</span></div>
            <div><span><strong>Zip Code: </strong></span><span>{{ notification_zone.zipcode }}</span></div>
            <a href="https://www.google.com/maps/place/{{notification_zone.address}},{{notification_zone.city}},{{notification_zone.state}},{{notification_zone.zipcode}}," target="_blank">Click here to open in Google Maps</a>
    </div>

    <div>
        {% leaflet_map "notification_map" callback="window.map_init_basic"  %}
    </div>

{% endblock %}