{% extends "website/__base_content.html" %}

{% block title %}Notification{% endblock %}

{% block content %}
    <h1>Notification: {{ notification.title }}</h1>
    <div class="row">
        <div class="btn-group" role="group" aria-label="...">
          <a href="{% url 'notification_edit' notification.id %}" class="btn btn-default">Edit Notification</a>
        </div>
    </div>
    <div>
        <label>Group(s)</label>
        <ul>
        {% for group in notification.groups.all %}
            <li>
                {{ group }}
            </li>
        {% endfor %}
        </ul>
        <label>Address: {{ notification.address }}</label><br>
        <label>City: {{ notification.city }}</label><br>
        <label>State: {{ notification.state }} </label><br>
        <label>Zipcode: {{ notification.zipcode }}</label><br>
        <label>Date: {{ notification.date }}</label><br>
        <label>Time: {{ notification.time }}</label><br>
    </div>
{% endblock %}